body {
  font-size: 24px;
  background: #272727;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
  color: #ffffff
}
.logo {
  text-align: center;
}
.logo a{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: #ffffff;
  text-decoration: none;
  padding: 0 10px 0 0;
}

header {
  margin: auto;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
}

header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 10px 0 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img {
  max-width: 200px;
}

section ul {
  margin: 20px;
}

section ul li {
  color: white;
  margin: 0px;
}

section ul li a {
  text-decoration: none;
  color: #fff;
}

.project-link {
  text-decoration: none;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  color: #ffffff;
}
.portfolio-text {
  font-size: 37px;
  margin: 10px;
}
.group {
  display: flex;
  flex-direction: column;
}
  
.item {
  flex: 1;
  margin: 10px;
}

footer 

/*Contact Form*/ 

form label {
  display: block;
}
  
form input, form textarea {
  width: 100%;
  margin-bottom: 20px;
}
  
form textarea {
  height: 160px;
}

footer {
  text-align: center;
  color:#ffffff
}

/*Media Query*/

@media all and (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  section {
    padding: 0% 7% 0% 7%;
  }
  h3 {
    text-align: center;
  }
  .project-links {
    text-align: center;
  }
  .group {
    flex-direction: row;
  }
  .link-text {
    text-align: center;
  }
  .portfolio-text {
    text-align: center;
  }
  .logo a {
    padding-top: 0;
    font-size: 60px;
  }

}